.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apexcharts-legend {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

.apexcharts-legend-series {
  display: flex;
  flex: 1 1 20%;
  /* Adjust the percentage to fit your needs */
  max-width: 20%;
  /* Adjust the percentage to fit your needs */
  justify-content: center;
}

.legend-item {
  display: block;
  text-align: center;
  padding: 5px;
}
