.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .apexcharts-legend { */
/*   display: flex !important; */
/*   flex-wrap: wrap !important; */
/*   justify-content: center !important; */
/* } */

/* .apexcharts-legend-series { */
/*   display: flex; */
/*   flex: 1 1 20%; */
/*   /* Adjust the percentage to fit your needs */
*/
/*   max-width: 20%; */
/*   /* Adjust the percentage to fit your needs */
*/
/*   justify-content: center; */
/* } */

.legend-item {
  display: block;
  text-align: center;
  padding: 5px;
}

.apexcharts-data-label {
  background: linear-gradient(135deg, #0070C0, #00E396); /* Gradient background */
  transition: transform 0.2s; /* Smooth transition for hover effect */
}

.apexcharts-data-label:hover {
  transform: scale(1.1); /* Slightly scale up on hover for emphasis */
}


.apexcharts-data-label {
  background: linear-gradient(135deg, #0070C0, #00E396); /* Gradient background */
  transition: transform 0.2s; /* Smooth transition for hover effect */
}

.apexcharts-data-label:hover {
  transform: scale(1.1); /* Slightly scale up on hover for emphasis */
}
